.advantages {
  @extend %list;
  margin-bottom: 10px;

  &__title {
    @extend %font-title;

    &--image {
      color: $white;
      line-height: 21px;
    }
  }

  &__order {
    @extend %font-desc;
    margin-bottom: 18px;

    &--image {
      color: $white;
    }
  }

  &__description {
    @extend %font-desc;

    &--image {
      color: $white;
    }
  }

  &__text--image {
    background-color: $blue;
    padding: 20px 19px 24px 19px;
  }

  .advantages__text {
    box-sizing: border-box;
  }
}
