.advantages-city {
  @extend %list;
  padding: 14px 20px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 14px 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 0;
    padding: 6px 0 0 46px;
    position: relative;

    @media (min-width: $tablet-width) {
      text-align: center;
      padding: 144px 40px 44px 40px;
    }

    @media (min-width: $desktop-width) {
      padding: 156px 50px 44px 50px;
      width: 300px;
    }

    &--food {
      @media (min-width: $tablet-width) {
        padding: 138px 40px 44px 40px;
      }

      @media (min-width: $desktop-width) {
        padding: 154px 50px 44px 50px;
      }
    }

    &--gift {
      padding: 4px 0 0 47px;

      @media (min-width: $tablet-width) {
        padding: 138px 40px 44px 40px;
      }

      @media (min-width: $desktop-width) {
        padding: 158px 50px 44px 50px;
        width: 300px;
        justify-content: center;
      }
    }

    &::before {
      content: "";
      background-image: url("../img/icons/burger.svg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 42px;
      height: 42px;
      top: 10px;
      left: -4px;
      z-index: 2;

      @media (min-width: $tablet-width) {
        width: 76px;
        height: 74px;
        top: 44px;
        left: 50%;
        transform: translateX(-50%);
      }

      @media (min-width: $desktop-width) {
        top: 54px;
      }
    }
  }

  .advantages-city__item--house::before {
    background-image: url("../img/icons/house.svg");
    width: 44px;
    height: 44px;

    @media (min-width: $tablet-width) {
      width: 78px;
      height: 74px;
    }
  }

  .advantages-city__item--gift::before {
    background-image: url("../img/icons/gift.svg");
    width: 34px;
    height: 40px;
    left: 0;

    @media (min-width: $tablet-width) {
      top: 48px;
      width: 66px;
      height: 79px;
      left: 49.5%;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      top: 50px;
      width: 70px;
      height: 82px;
    }
  }

  &__title {
    margin-bottom: 2px;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }
  }

  &__description {
    text-align: start;

    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }
}
