.advantages {
  @extend %list;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__title {
    @extend %font-title;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      margin: 0 auto 14px auto;
    }

    &--image {
      color: $white;
    }
  }

  &__item {
    &--image {
      @media (min-width: $tablet-width) {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        background-color: $blue;
      }
    }

    &--area {
      background-color: hsl(0, 0%, 93%);
      padding: 4px 14px 6px 14px;
      margin: 0;
      position: relative;

      @media (min-width: $tablet-width) {
        grid-row: 4/5;
        padding: 30px 1px 40px 1px;
      }
    }

    &--road {
      @media (min-width: $tablet-width) {
        padding: 18px 16px 40px 16px;
      }
    }
  }

  &__items {
    grid-column: 1/-1;
  }

  &__photo {
    @media (min-width: $tablet-width) {
      width: 100%;
      object-fit: cover;
      height: 256px;
    }
  }

  &__photo--city {
    @media (min-width: $tablet-width) {
      grid-column: 2/-1;
    }
  }

  &__photo--bridge {
    @media (min-width: $tablet-width) {
      grid-column: 1/3;
    }
  }

  &__order {
    @extend %font-desc;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-bottom: 24px;
    }

    &--image {
      color: $white;
    }
  }

  &__description {
    @extend %font-desc;

    @media (min-width: $tablet-width) {
      margin: 0;
    }

    &--image {
      color: $white;
    }
  }

  &__text--image {
    background-color: $blue;
  }
}

.advantages__text {
  padding: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 26px 32px 4px 32px;
  }

  &--bridge {
    grid-column: 3/-1;
    grid-row: 1/-1;

    @media (min-width: $tablet-width) {
      padding: 30px 32px 4px 32px;
    }
  }
}
