.advantages {
  @extend %list;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -18px;
    height: 1px;
    border-width: 1px 160px 18px;
    border-style: solid;
    border-color: $blue $blue transparent;
    transform: rotate(180deg);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__title {
    @extend %font-title;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      margin: 0 auto 14px auto;
    }

    @media (min-width: $desktop-width) {
      width: 50%;
    }

    &--image {
      color: $white;
      margin-bottom: 10px;

      @media (min-width: $tablet-width) {
        margin-top: 10px;
        margin-bottom: 14px;
      }

      @media (min-width: $desktop-width) {
        margin-top: 0;
      }
    }

    &--brige {
      margin-top: 20px;
    }
  }

  &__item {
    &--image {
      @media (min-width: $tablet-width) {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        background-color: $blue;
      }
    }

    &--area {
      background-color: hsl(0, 0%, 93%);
      padding: 4px 14px 6px 14px;
      margin: 0;
      text-align: center;
      position: relative;

      @media (min-width: $tablet-width) {
        padding: 44px 1px 30px 1px;
      }

      @media (min-width: $desktop-width) {
        padding: 54px 1px 36px 1px;
      }
    }

    &--road {
      @media (min-width: $tablet-width) {
        padding: 32px 16px 30px 16px;
      }

      @media (min-width: $desktop-width) {
        padding: 44px 16px 40px 16px;
      }
    }
  }

  &__items {
    grid-column: 1/-1;
  }

  &__photo {
    @media (min-width: $tablet-width) {
      width: 512px;
      object-fit: cover;
      height: 256px;
    }

    @media (min-width: $desktop-width) {
      width: 800px;
    }
  }

  &__photo--city {
    @media (min-width: $tablet-width) {
      grid-column: 2/4;
    }
  }

  &__photo--bridge {
    @media (min-width: $tablet-width) {
      grid-column: 1/3;
    }
  }

  &__order {
    @extend %font-desc;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 22px;
    }

    &--image {
      color: $white;
      margin: 0;

      @media (min-width: $tablet-width) {
        margin-bottom: 8px;
      }
    }
  }

  &__description {
    @extend %font-desc;

    @media (min-width: $tablet-width) {
      margin: 0;
    }

    &--image {
      color: $white;
      margin: 0;
      padding: 16px 0;
      margin-bottom: 2px;

      @media (min-width: $desktop-width) {
        padding: 16px 24px;
      }
    }

    &--bridge {
      @media (min-width: $desktop-width) {
        width: 230px;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}

.advantages__text {
  padding: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 10px 32px 10px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 40px 4px 40px;
  }

  &--image {
    background-color: $blue;

    @media (min-width: $tablet-width) {
      padding: 40px 32px 10px 32px;
    }

    @media (min-width: $desktop-width) {
      padding: 26px 32px 10px 32px;
    }
  }

  &--bridge {
    grid-column: 3/-1;
    grid-row: 1/-1;
    padding-top: 24px;

    @media (min-width: $tablet-width) {
      padding: 34px 30px 4px 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 20px 40px 4px 36px;
    }
  }

  .advantages__text--space,
  .advantages__description--space {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }
}
