.area__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 80%;
    margin: 0 auto 12px auto;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.area__order {
  margin-top: 12px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.area__description {
  margin: 0;
}
