.catalog-video {
  padding: 0 20px;
  text-align: center;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 36px 32px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 50px 0;
  }
}

.catalog-video__title {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  display: block;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.catalog-video__desc {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0 0 40px;
  padding: 0 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 18px 0 24px;
    margin-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 84px;
  }
}

.catalog-video__block {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog-video__content {
  margin: 0 auto;
  cursor: pointer;
  object-fit: cover;
  height: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.catalog-video__wrap {
  display: block;
  box-sizing: border-box;
  position: relative;
}

.catalog-video__button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 55px;
  margin: auto;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 1);
  }
}
