.catalog-video {
  margin: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.catalog-video__title {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  display: block;
  margin: 0;
  margin-bottom: 28px;
  padding: 0 7px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.catalog-video__desc {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0 18px;
  margin-bottom: 36px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 18px 0 24px;
    margin-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 84px;
  }
}

.catalog-video__block {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog-video__content {
  margin: 0 auto;
  cursor: pointer;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.catalog-video__wrap {
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.catalog-video__wrap::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  cursor: pointer;
  border-right: none;
  border-top: 27px solid transparent;
  border-left: 48px solid rgba(255, 255, 255, 0.7);
  border-bottom: 27px solid transparent;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
