.catalog-video {
  margin: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.catalog-video__title {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  display: block;
  margin: 0;
  margin-bottom: 28px;
  padding: 0 7px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.catalog-video__desc {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0 20px 0 24px;
  margin-bottom: 36px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 18px 0 24px;
    margin-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 378px;
    margin-bottom: 84px;
  }
}

.catalog-video__block {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog-video__content {
  position: relative;
  margin: 0 auto;
  background-image: url("../img/img-catalog/sedona-poster-mobile.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/img-catalog/sedona-poster-mobile@2x.jpg");
  }
  /*stylelint-disable*/
  background-image: -webkit-image-set(
    url("../img/img-catalog/sedona-poster-mobile.webp") 1x,
    url("../img/img-catalog/sedona-poster-mobile.jpg") 1x,
    url("../img/img-catalog/sedona-poster-mobile@2x.webp") 2x,
    url("../img/img-catalog/sedona-poster-mobile@2x.jpg") 2x
  );
   /*stylelint-enable*/
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
    background-image: url("../img/img-catalog/sedona-poster-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/img-catalog/sedona-poster-tablet@2x.jpg");
    }
    /*stylelint-disable*/
    background-image: -webkit-image-set(
      url("../img/img-catalog/sedona-poster-tablet.webp") 1x,
      url("../img/img-catalog/sedona-poster-tablet.jpg") 1x,
      url("../img/img-catalog/sedona-poster-tablet@2x.webp") 2x,
      url("../img/img-catalog/sedona-poster-tablet@2x.jpg") 2x
    );
   /*stylelint-enable*/
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin-bottom: 82px;
    background-image: url("../img/img-catalog/sedona-poster-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/img-catalog/sedona-poster-desktop@2x.jpg");
    }
    /*stylelint-disable*/
    background-image: -webkit-image-set(
      url("../img/img-catalog/sedona-poster-desktop.webp") 1x,
      url("../img/img-catalog/sedona-poster-desktop.jpg") 1x,
      url("../img/img-catalog/sedona-poster-desktop@2x.webp") 2x,
      url("../img/img-catalog/sedona-poster-desktop@2x.jpg") 2x
    );
   /*stylelint-enable*/
  }
}

.catalog-video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 0;
  height: 0;
  border-right: none;
  border-top: 27px solid transparent;
  border-left: 48px solid rgba(255, 255, 255, 0.7);
  border-bottom: 27px solid transparent;
  background-color: transparent;
  padding: 0;
  background-size: 300px;
  margin: 0;
}
