.catalog-photo {
  display: block;
  margin-bottom: 14px;
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.catalog-photo--large {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.catalog-photo--middle {
  @media (min-width: $tablet-width) {
    height: 267px;
  }
}
