.index-lead {
  padding: 18px 24px;
  box-sizing: border-box;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 34px 0 30px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 38px 0 34px 0;
    margin-bottom: 0;
  }

  &__title {
    @extend %font-title;
    margin-top: 14px;
    margin-bottom: 35px;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      margin-bottom: 28px;
    }
  }

  &__desc {
    @extend %font-desc;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      font-size: 14px;
    }

    @media (min-width: $desktop-width) {
      font-size: 13px;
      word-spacing: 1px;
    }
  }

  &__block {
    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}
