.intro {
  margin: 0;
  padding: 36px 0 34px 0;

  @media (min-width: $tablet-width) {
    padding: 66px 40px 64px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 0 70px 0;
  }
}

.intro--form {
  padding: 36px 0 50px 0;

  @media (min-width: $tablet-width) {
    padding: 64px 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 0 0;
  }
}

.intro--form .intro__desc {
  @media (min-width: $desktop-width) {
    width: 46%;
    margin: 0 auto 16px auto;
    line-height: 24px;
  }
}

.intro__title {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 24px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin: 0 0 32px 0;
  }
}

.intro__desc {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .intro__title--form {
    margin-bottom: 20px;
  }

  .intro__desc--form {
    padding: 0 65px 0 65px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .intro__title--form {
    margin-bottom: 30px;
  }
}

.intro__block {
  @media (min-width: $tablet-width) {
    display: block;
  }
}
