.list-radio {
  margin: 0;
  list-style-type: none;
}

.list-radio__icon {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: -16px;
  margin-top: -10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.list-radio__icon:hover {
  background-color: #e5e5e5;
}

.list-radio__icon:active {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.list-radio__input[type="radio"]:checked + .list-radio__icon {
  background-image: url("../img/circle.svg");
  background-size: 30% 30%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.list-radio__input[type="radio"] {
  &:active + .list-radio__icon {
    background-color: #d5d5d5;
    opacity: 0.3;
  }
}
