.location {
  background-image: url("../img/img-index/map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/img-index/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/img-index/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/img-index/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/img-index/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/img-index/map-desktop@2x.jpg");
    }
  }
}

.location-map {
  width: 100%;
}
