.location {
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin-bottom: 22px;
  /* stylelint-disable */
  background-image: url("../img/img-index/map-mobile.jpg");
  background-image: -webkit-image-set(
    url("../img/img-index/map-mobile.webp") 1x,
    url("../img/img-index/map-mobile.jpg") 1x,
    url("../img/img-index/map@2x@mobile.webp") 2x,
    url("../img/img-index/map@2x@mobile.jpg") 2x
  );
  /* stylelint-enable */

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    /* stylelint-disable */
    background-image: url("../img/img-index/map-tablet.jpg");
    background-image: -webkit-image-set(
      url("../img/img-index/map-tablet.webp") 1x,
      url("../img/img-index/map-tablet.jpg") 1x,
      url("../img/img-index/map@2x@tablet.webp") 2x,
      url("../img/img-index/map@2x@tablet.jpg") 2x
    );
    /* stylelint-enable */
  }

  @media (min-width: $desktop-width) {
    /* stylelint-disable */
    background-image: url("../img/img-index/map-desktop.jpg");
    background-image: -webkit-image-set(
      url("../img/img-index/map-desktop.webp") 1x,
      url("../img/img-index/map-desktop.jpg") 1x,
      url("../img/img-index/map@2x@desktop.webp") 2x,
      url("../img/img-index/map@2x@desktop.jpg") 2x
    );
    /*stylelint-ensable*/
  }
}

.location-map {
  width: 100%;
}
