.modal-success {
  position: fixed;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 0 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  margin: 0 auto;
  z-index: 4;
  display: none;

  @media (min-width: $tablet-width) {
    padding: 18px 0 0;
    width: 640px;
  }
}

.modal-success--open {
  display: block;
}


.modal-success__title {
  @extend %font-title;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
  }
}

.modal-success__desc {
  @extend %font-desc;
  padding: 0 40px 0 40px;
  margin-bottom: 50px;
}

.modal-success__block {
  display: block;
}

.modal-success__button {
  @extend %button;
  font-size: 18px;
  padding: 18px 76px 14px;
  box-sizing: border-box;
  background-color: rgba(129, 179, 210, 1);
  border: 20px #f2f2f2 solid;
  margin: 0;
  width: 100%;

  &:not(:disabled):active {
    opacity: 1;
    background-color: rgba(129, 179, 210, 0.3);
  }

  @media (min-width: $tablet-width) {
    border-width: 44px 91px;
    font-size: 21px;
  }
}
