.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $blue;

  @media (min-width: $tablet-width) {
    background-color: $white;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
  }
}

.nav-list li:nth-of-type(4n-1) {
  @media (min-width: $tablet-width) {
    grid-column: 4/5;
  }
}

.nav-list__item {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px  rgba(1, 1, 1, 0.2) solid;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    border-bottom: none;
    box-shadow: none;
  }
}

.nav-list li:last-of-type {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.2) 100%);

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.nav-list__link {
  appearance: none;
  text-decoration: none;
  color: $white;
  display: block;
  margin: 0 auto;
  padding: 17px 30px 11px 30px;

  &:hover {
    background-color: #669ec0;
    outline: none;
  }

  &:active {
    background-color: #5496bd;
    opacity: 0.3;
    appearance: none;
  }

  @media (min-width: $tablet-width) {
    color: $black;
    padding: 0;
    width: auto;
    margin: auto;

    &:hover {
      background-color: $white;
      color: #81b3d2;
    }

    &:active {
      background-color: $white;
      color: $black;
      opacity: 0.3;
    }
  }
}

.nav-list__link--current {
  @media (min-width: $tablet-width) {
    color: #766357;
  }
}
