.page-footer {
  margin: 0;
  padding: 16px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 48px 40px 36px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 54px 36px 118px;
  }
}

.page-footer--index {
  @media (min-width: $tablet-width) {
    padding: 34px 56px 36px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 72px 36px 120px;
  }
}

.page-footer__hashtags {
  text-align: center;

  @media (min-width: $tablet-width) {
    flex: 0 1 30%;
    align-self: center;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
  }
}

.page-footer__hashtag {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  padding: 2px;
  outline: none;

  &:hover,
  &:focus,
  &:focus-visible {
    color: #81b3d2;
    outline: none;
  }

  &:default,
  &:disabled,
  &:visited {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 0;
    min-height: 0;
    appearance: none;
    justify-content: flex-end;
    align-self: center;
  }
}

.page-footer__social {
  margin: 0 auto;
  padding: 30px 4px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-right: 50px;
    margin: 0;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    padding-right: 110px;
  }
}

.page-footer--index > .page-footer__social {
  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    min-width: 0;
    min-height: 0;
    flex: 0 1 25%;
    align-self: center;
  }
}
