.page-footer {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.page-footer__hashtag {
  @extend %font-title;
  font-weight: 700;
  width: 166px;
  text-decoration: none;
  display: block;
}
