.page-nav {
  padding: 0;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding: 20px 10px 14px 15px;
    background-color: $white;
  }
}

.page-nav--closed {
  margin-top: 56px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.page-nav--closed .page-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.page-nav--opened {
  margin-top: 0;
}

.page-nav--nojs .page-nav__list,
.page-nav--opened .page-nav__list {
  display: block;

  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.page-nav__toggle {
  position: absolute;
  z-index: 4;
  top: -56px;
  right: 10px;
  border: none;
  outline: none;
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: transparent;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-nav--closed .page-nav__toggle::before {
  content: "";
  position: absolute;
  z-index: 4;
  top: 17px;
  right: 50%;
  transform: translateX(50%);
  width: 24px;
  height: 4px;
  background-color: $blue;
  box-shadow: 0 8px 0 0 $blue, 0 16px 0 0 $blue;
  cursor: pointer;
}

.page-nav--opened .page-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 82px;
    right: 50%;
    width: 24px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: translateX(50%) rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: translateX(50%) rotate(-45deg);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-nav--nojs > .page-nav__toggle {
  display: none;
}

.page-nav--nojs {
  margin-top: 96px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
