.page-header__wrap {
  position: relative;
  padding: 52px 18px 67px;
  margin-top: 56px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-color: $blue;
  background-position-y: bottom;
  /*stylelint-disable*/
  background-image: url("../img/img-catalog/catalog-mobile@1x.jpg");
  background-image: -webkit-image-set(
    url("../img/img-catalog/catalog-mobile@1x.webp") 1x,
    url("../img/img-catalog/catalog-mobile@1x.jpg") 1x,
    url("../img/img-catalog/catalog-mobile@2x.webp") 2x,
    url("../img/img-catalog/catalog-mobile@2x.jpg") 2x
  );
  /*stylelint-enable*/

  @media (min-width: $tablet-width) {
    padding: 98px 20px 116px 20px;
    margin-top: 0;
    background-size: cover;
    /*stylelint-disable*/
    background-image: url("../img/img-catalog/catalog-tablet@1x.jpg");
    background-image: -webkit-image-set(
    url("../img/img-catalog/catalog-tablet@1x.webp") 1x,
    url("../img/img-catalog/catalog-tablet@1x.jpg") 1x,
    url("../img/img-catalog/catalog-tablet@2x.webp") 2x,
    url("../img/img-catalog/catalog-tablet@2x.jpg") 2x
    );
    /*stylelint-enable*/
  }

  @media (min-width: $desktop-width) {
    padding: 104px 20px 124px 20px;
    /*stylelint-disable*/
    background-image: url("../img/img-catalog/catalog-desktop@1x.jpg");
    background-image: -webkit-image-set(
    url("../img/img-catalog/catalog-desktop@1x.webp") 1x,
    url("../img/img-catalog/catalog-desktop@1x.jpg") 1x,
    url("../img/img-catalog/catalog-desktop@2x.webp") 2x,
    url("../img/img-catalog/catalog-desktop@2x.jpg") 2x
    );
    /*stylelint-enable*/
  }

  .page-header__wrap--index {
    background-image: none;
  }
}

.page-header__wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  border-width: 1px 160px 28px;
  border-style: solid;
  border-color: #ffffff #ffffff transparent;
  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    border-width: 1px 350px 56px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }

  @media (min-width: $desktop-width) {
    border-width: 1px 354px 61px;
  }
}

.page-header__wrap::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    z-index: 2;
    height: 1px;
    border-width: 1px 384px 36px;
    border-style: solid;
    border-color: #ffffff #ffffff transparent;
    transform: rotate(180deg);
  }

  @media (min-width: $desktop-width) {
    border-width: 1px 600px 61px;
  }
}

.page-header__image {
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    width: 458px;
    height: max-content;
  }
}
