.request {
  border: none;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
    border-top: 1px solid #dbdbdb;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.request__title {
  @extend %font-title;
  font-weight: 700;
  margin: 0 auto 24px auto;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 21px;
    padding: 0 50px 0 50px;
    z-index: 2;
    background-color: $white;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 42px auto;
    width: 40%;
  }
}

.request__label {
  @extend %font-title;
  font-weight: 700;
  display: block;
  text-transform: none;
  text-align: start;
  margin: 0 0 36px 50px;

  @media (min-width: $tablet-width) {
    margin: 0 0 36px 46px;
  }
}

.request__data {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 44px;
    justify-content: space-around;
    padding: 8px 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 40px 8px 56px;
    column-gap: 52px;
  }
}
