.search-hotel {
  margin: 0 auto 26px auto;
  padding: 32px 17px 20px 17px;

  &__title {
    @extend %font-title;
    font-size: 21px;
    margin: 0;
    margin-bottom: 20px;
  }

  &__description {
    @extend %font-desc;
    margin-bottom: 30px;
  }
}

.search-hotel__button {
  @extend %button;
  padding: 17px;
}
