.search-hotel {
  margin: 0 auto 26px auto;
  padding: 32px 17px 20px 17px;

  @media (min-width: $tablet-width) {
    padding: 48px 156px 20px 156px;
    margin: 0 auto 36px auto;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 369px 20px 369px;
    margin: 0 auto 44px auto;
  }

  &__title {
    @extend %font-title;
    font-size: 21px;
    margin: 0;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin-bottom: 32px;
    }
  }

  &__description {
    @extend %font-desc;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      line-height: 22px;
      margin-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 44px;
    }
  }
}

.search-hotel__button {
  @extend %button;
  padding: 17px;
}
