.sights-checkbox {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 10px 70px 0 86px;
    justify-self: center;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 6px 0 48px;
    margin-bottom: 48px;
    column-gap: 20px;
  }
}

.sights-checkbox__item {
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    flex: 0 1 23%;
  }
}

.sights-checkbox__label {
  display: block;
  padding: 20px 18px 16px;
  position: relative;
}

.sights-checkbox__icon-checkbox {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 0;
  top: 10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:active {
    background-color: #d5d5d5;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.sights-checkbox__input[type="checkbox"]:checked + .sights-checkbox__icon-checkbox::after {
  content: "";
  background-image: url("../img/tick.svg");
  position: absolute;
  top: 13px;
  left: 13px;
  width: 22px;
  height: 16px;
  background-repeat: no-repeat;
}
