.social {
  list-style: none;
}

.social__item {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 0;
  margin: 0 3px;
}

.social__link {
  padding: 14px 24px;
  background-color: $blue;
  position: relative;

  &:hover,
  &:focus {
    background-color: #669ec0;
    outline: none;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.social__link::after {
  content: "";
  background-image: url("../img/telegram.svg");
  position: absolute;
  width: 24px;
  height: 20px;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.social__link--vk::after {
  background-image: url("../img/vk.svg");
}

.social__link--youtube::after {
  background-image: url("../img/youtube.svg");
}
