.user-comment {
  border: none;
  padding: 0;
  margin-bottom: 66px;
}

.user-comment__title {
  @extend %font-title;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.user-comment__comment {
  @extend %font-title;
  font-weight: 700;
  text-transform: none;
  text-align: start;
  resize: none;
  width: 100%;
  border: none;
  padding: 18px 10px 16px 14px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.user-comment__comment::placeholder {
  @extend %font-title;
  text-transform: none;
  font-weight: 700;
  text-align: start;
  opacity: 30%;
}
