.welcome {
  background-image: url("../img/img-index/rocks-sedona-320.jpg");
  background-repeat: no-repeat;
  background-color: $blue;
  background-size: cover;
  box-sizing: border-box;
  padding: 88px 18px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 78px 18px 92px 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.welcome__image {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 462px;
    height: 350px;
  }
}
