.welcome {
  background-image: url("../img/img-index/rocks-sedona-320.jpg");
  background-repeat: no-repeat;
  background-color: $blue;
  background-size: cover;
  box-sizing: border-box;
  padding: 80px 10px;
  margin: 0;
}

.welcome__image {
  margin: 0 auto;
}
