.welcome {
  background-repeat: no-repeat;
  background-color: $blue;
  background-size: cover;
  box-sizing: border-box;
  padding: 88px 18px;
  margin: 0;
  position: relative;

  // @media (min-resolution: 2dppx) {
  //   background-image: url("../img/img-index/back-mobile@2x.jpg");
  // }

  /*stylelint-disable*/
  background-image: url("../img/img-index/rocks-sedona-320.jpg");
  background-image: -webkit-image-set(
    url("../img/img-index/rocks-sedona-320.webp") 1x,
    url("../img/img-index/rocks-sedona-320.jpg") 1x,
    url("../img/img-index/back-mobile@2x.webp") 2x,
    url("../img/img-index/back-mobile@2x.jpg") 2x
  );
  /*stylelint-enable*/

  @media (min-width: $tablet-width) {
    padding: 78px 18px 92px 18px;

    // @media (min-resolution: 2dppx) {
    //   background-image: url("../img/img-index/back-tablet@2x.jpg");
    // }

    /*stylelint-disable*/
    background-image: url("../img/img-index/back-tablet.jpg");
    background-image: -webkit-image-set(
      url("../img/img-index/back-tablet.webp") 1x,
      url("../img/img-index/back-tablet.jpg") 1x,
      url("../img/img-index/back-tablet@2x.webp") 2x,
      url("../img/img-index/back-tablet@2x.jpg") 2x
    );
   /*stylelint-enable*/
  }

  @media (min-width: $desktop-width) {
    padding: 78px 18px 96px 18px;
    // @media (min-resolution: 2dppx) {
    //   background-image: url("../img/img-index/back-desktop@2x.jpg");
    // }
    /*stylelint-disable*/
    background-image: url("../img/img-index/back-desktop.jpg");
    background-image: -webkit-image-set(
      url("../img/img-index/back-desktop.webp") 1x,
      url("../img/img-index/back-desktop.jpg") 1x,
      url("../img/img-index/back-desktop@2x.webp") 2x,
      url("../img/img-index/back-desktop@2x.jpg") 2x
    );
   /*stylelint-enable*/
  }
}

.welcome::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  height: 1px;
  border-width: 1px 160px 28px;
  border-style: solid;
  border-color: #ffffff #ffffff transparent;
  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    border-width: 1px 350px 56px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }

  @media (min-width: $desktop-width) {
    border-width: 4px 352px 61px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }
}

.welcome::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    height: 1px;
    border-width: 1px 384px 36px;
    border-style: solid;
    border-color: #ffffff #ffffff transparent;
    transform: rotate(180deg);
  }

  @media (min-width: $desktop-width) {
    border-width: 1px 600px 64px;
  }
}

.welcome__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: block;
    width: 464px;
    height: max-content;
  }
}
